<form action="/products/cargar" method="post">
    <label> Imagen:</label>
    <input type="text" name="imagen_producto" placeholder="Ingresa la URL de la imagen del producto" required>
    <label> Nombre del producto:</label>
    <input type="text" name="nombre_producto" placeholder="Ingresa el nombre del producto" required>
    <label> Descripción:</label>
    <textarea name="descripcion" placeholder="Ingresa la descripción del producto" required></textarea>

    <button type="submit"> Cargar producto</button>
</form>