<!DOCTYPE html>
<html lang="es">
<title>Kylina jewels</title>
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/header') %>
			<!-- /Header -->

			<!-- Banner -->
			<div class="banner">
				<img class="img-banner" src="images/banner.png" alt="Banner de ofertas">
			</div>
			<!-- /Banner -->

			<!-- Novedades -->
			<div class="conteiner">
				<h1 class="coleccion-title"> Colección FW25</h1>

				<div class="container products-wrapper">
					<%- include("./partials/productos", {productos: productos})%>
				</div>
			</div>

			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->
	</body>

</html>