<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/header') %>
			<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Registrate</h2>
					</div>
					<form action="/users/register" method="GET" class="register-form">
						<div>
							<label for="email">Email:</label>
							<input type="email" id="email" name="email" placeholder="Ingresa tu email" required>
						</div>
						<div>
							<label for="username">Usuario:</label>
							<input type="text" id="username" name="username" placeholder="Ingresa tu nombre de usuario"
								required>
						</div>
						<div>
							<label for="password">Contraseña:</label>
							<input type="password" id="password" name="password" placeholder="Ingresa tu contraseña"
								required>
						</div>
						<div>
							<label for="birthdate">Fecha de nacimiento:</label>
							<input type="date" id="birthdate" name="birthdate" required>
						</div>
						<div>
							<label for="document">Nro de documento:</label>
							<input type="number" id="document" name="document"
								placeholder="Ingresa tu número de documento" required>
						</div>
						<div>
							<label for="profilePicture">Foto de perfil:</label>
							<input type="text" id="profilePicture" name="profilePicture"
								placeholder="Ingresa la URL de tu foto de perfil" required>
						</div>
						<button type="submit">Registrarse</button>
					</form>
				</div>
			</div>

			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->
	</body>

</html>