<!-- Header -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italiana&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<header class="main-header">
	<div class="container">
		<div class="align-items-center">
			<div class="contenedor-logo">
				<a href="/" class="main-header_home-link">
					<img src="/images/imagenlogo.png" alt="Imagen Logo">
				</a>
			</div>
			<div class="titulo-container">
                <a class="main-header_credit-link">
                    <h1 class="textoTitulo">Kylina Jewels</h1>
                </a>
            </div>

			<div class="col-12 col-md-4">
				<a class="main-header_credit-link">
					<i class="fas fa-hand-holding-usd"></i>
					Todas las opiniones en un solo lugar.
				</a>
			</div>
		</div>

		<button class="btn-toggle-navbar">
			<i class="fas fa-bars"></i>
		</button>

		<nav class="main-navbar">
			<ul class="left-navbar">
				<li><a href="/">Todos los productos</a></li>
				<li><a href="product-add.html">Cargar productos</a></li>
			</ul>

			<ul class="right-navbar">
				<li class="cont-usuario"><a href="/users/profile">
						<h1 class="titulo-usuario">
							<%= usuario.usuario %>
						</h1>
						<svg class="iconouser" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
						  </svg>
						  
					</a>
				</li>
				<li>
					<form action="" method="post"> <li> <a href="/users/logout">Cerrar sesión</a li>
						<button class="logout" type="submit">
							Cerrar sesión <i class="fas fa-sign-in-alt"></i>
						</button>
					</form>
				</li>
					<div class="search-container">
						<form action="" method="GET" class="search-form">
							<input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-input">
							<button type="submit" class="search-button"><i class="fas fa-search"></i></button>
						</form>
					</div>
			</ul>
		</nav>
	</div>
</header>
<!-- /Header -->