<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italiana&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<header class="main-header">
    <div class="container">
        <div class="align-items-center">
            <div class="contenedor-logo">
                <a href="/" class="main-header_home-link">
                    <img src="/images/imagenlogo.png" alt="Imagen Logo">
                </a>
            </div>
            <div class="titulo-container">
                <a class="main-header_credit-link">
                    <h1 class="textoTitulo">Kylina Jewels</h1>
                </a>
            </div>

        </div>

        <button class="btn-toggle-navbar">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25" />
            </svg>
        </button>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/">Todos los productos</a></li>
                <!-- solo logueado <li><a href="">Cargar productos</a></li> -->
            </ul>

            <ul class="right-navbar">
                <!-- Estos li deben verse solo si el usuario está logueado 
                <li> 
                    Nombre del usuario <i class="fas fa-user"></i>
                </li>
                <li>
                    <form action="/buscar" method="post">
                        <button class="logout" type="submit">
                            Cerrar sesión <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                </li>
            -->
                <!-- Los li con register y loguin deben ocultarse si el usuario está logueado -->
                <li>
                    <a href="/users/register">Creá tu cuenta <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="iconoregister">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                      </svg>
                      
                    </a>
                </li>
                <li>
                    <a href="/users/login">Ingresá </i><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="iconologin">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25" />
                      </svg>
                    </a>
                </li>
                <div class="search-container">
                    <form action="/search-results" method="GET" class="search-form">
                        <input type="text" name="search" placeholder="Buscar..." class="search-input">
                        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </ul>
        </nav>
    </div>
</header>